[user]
	name = htayj
	email = htayj@users.noreply.github.com
	signingkey = 3EA36B492D7E76450D2C59267B55A97A62F6D6C0 # gitleaks:allow (public PGP fingerprint)

[gpg]
	format = openpgp
	program = gpg
[commit]
	gpgsign = false
[tag]
	gpgsign = false

[maintenance]
	repo = /home/tay/.emacs.d

[spice "forge.gitlab"]
	url = https://git.codemettle.com

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
	path = ~/.gitconfig-github
[includeIf "hasconfig:remote.*.url:ssh://git@github.com/**"]
	path = ~/.gitconfig-github
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = ~/.gitconfig-github
